<!DOCTYPE html>
<html lang="en">
<head>
<title>957 金主會員專區</title>
{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="957借錢平台提供您最安全、快速、簡單的借款流程。">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
<link href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link rel="icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{% static 'styles/borrower_private.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/checkout_responsive.css' %}">
</head>
<body>

<div class="super_container">

	<!-- Header -->

	<header class="header">
		<div class="header_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_content d-flex flex-row align-items-center justify-content-start">
							<div class="logo"><a href="/loan/"><img src="{% static 'images/957.png' %}" style="width: 170px; height: 50px;" /></a></div>
							<nav class="main_nav">
								<ul>
									<li><a href="/loan/">首頁</a></li>
									{% if user.is_authenticated %}
										{% if user.myuser.is_borrower %}
											<li><a href="/loan/update_borrower/">借款會員專區</a></li>
											<li><a href="/loan/create_borrower_message/">我要借錢</a></li>
											<li><a href="/loan/register_lender/">我要放款</a></li>
										{% else %}
											<li><a href="/loan/update_lender/">金主會員專區</a></li>
											<li><a href="/loan/register_borrower/">我要借錢</a></li>
											<li><a href="/loan/borrowing_message/">我要放款</a></li>
										{% endif %}
									{% else %}
										<li><a href="/loan/register_borrower/">我要借錢</a></li>
										<li><a href="/loan/register_lender/">我要放款</a></li>
									{% endif %}
									<li><a href="/loan/submit_ad/">投放廣告</a></li>
									<li><a href="/loan/borrowing_message/">借款需求版</a></li>
								</ul>
							</nav>
							<div class="header_extra ml-auto">
								{% if user.is_authenticated %}
									<div class="shopping_cart">
										<a href="/loan/logout/">
											<div>登出</div>
										</a>
									</div>
									<div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
								{% else %}
									<div class="shopping_cart">
										<a href="/loan/login/">
											<div>登入</div>
										</a>
									</div>
									<div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Social
		<div class="header_social">
			<ul>
				<li><a href="#"><img src="{% static 'images/IG_300x300.png' %}" style="width: 18px; height: 18px;" /></a></li>
				<li><a href="#"><i class="fa fa-facebook" aria-hidden="true" style="color: rgb(0, 110, 255);"></i></a></li>
				<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"  style="color: red;"></i></a></li>
			</ul>
		</div>-->

	</header>

	<!-- Menu -->

	<div class="menu menu_mm trans_500">
		<div class="menu_container menu_mm">
			<div class="page_menu_content">

				<div class="page_menu_search menu_mm">
					<form action="#">
						<input type="search" required="required" class="page_menu_search_input menu_mm" placeholder="Search for products...">
					</form>
				</div>
				<ul class="page_menu_nav menu_mm">
					<li class="page_menu_item menu_mm"><a href="/loan/">首頁<i class="fa fa-angle-down"></i></a></li>
					{% if user.is_authenticated %}
						{% if user.myuser.is_borrower %}
							<li class="page_menu_item menu_mm"><a href="/loan/update_borrower/">借款會員專區<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="/loan/create_borrower_message/">我要借錢<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="/loan/register_lender/">我要放款<i class="fa fa-angle-down"></i></a></li>
						{% else %}
							<li class="page_menu_item menu_mm"><a href="/loan/update_lender/">金主會員專區<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="/loan/register_borrower/">我要借錢<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="/loan/borrowing_message/">我要放款<i class="fa fa-angle-down"></i></a></li>
						{% endif %}
					{% else %}
						<li class="page_menu_item menu_mm"><a href="/loan/register_borrower/">我要借錢<i class="fa fa-angle-down"></i></a></li>
						<li class="page_menu_item menu_mm"><a href="/loan/register_lender/">我要放款<i class="fa fa-angle-down"></i></a></li>
					{% endif %}
					<li class="page_menu_item menu_mm"><a href="/loan/submit_ad/">投放廣告<i class="fa fa-angle-down"></i></a></li>
					<li class="page_menu_item menu_mm"><a href="/loan/borrowing_message/">借款需求版<i class="fa fa-angle-down"></i></a></li>
				</ul>
			</div>
		</div>

		<div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>

	</div>
	

	<!-- Information -->
	
	<div class="checkout">
		<div class="container">
			<div class="row">
				<!-- Information Option -->
				<div class="col-lg-4">
					<div class="order checkout_section">
						<div class="section_title">金主會員專區</div>
						<div class="section_subtitle"> </div>

						<!-- Option -->
						<div class="button info_button"><a href="/loan/update_lender/">修改會員資料</a></div>
						<div class="button info_button"><a href="/loan/resetpassword/">修改密碼</a></div>
						<div class="button borrow_button"><a href="/loan/create_lender_message/">修改放款貼文</a></div>
						<div class="button borrow_button"><a href="/loan/paying/">開通帳號</a></div>
						<div class="button history_button"><a href="/loan/paying_history/">帳戶權限交易紀錄</a></div>
					</div>
				</div>

				<!-- Information Content -->

				<div class="col-lg-8">
					<div class="billing checkout_section" id="pay_before">
						<!--<div class="section_title" style="font-size: 30px;" id="scroll"><h2>開通帳號</h2></div>-->
						<div class="section_subtitle"></div>
						<div class="checkout_form_container" style="margin-top: 0">
							<form action="/loan/paying/" id="checkout_form" class="checkout_form" method="POST">{% csrf_token %}
								<div>

									<!-- 方案 -->
									<img src="{% static 'images/ad.svg' %}" class="ad_svg"/>

									<div class="ad_svg_margin checkout_form" style="width: 100%;">
										<div>
											<!-- Proposal -->
											<label for="checkout_proposal">請選擇購買方案*</label>
											<select name="package" id="checkout_proposal" class="dropdown_item_select checkout_input_region" onchange="showDiv3('Region_Proposal','pay_country', this)" required="required">
												<option value="購買帳號">購買帳號</option>
												<option value="購買廣告">購買廣告</option>
												<option value="帳號、廣告同時買">帳號、廣告同時買</option>
											</select>
										</div>
										<div id="pay_account_time">
											<!-- Pay_Region -->
											<label for="checkout_country">請選擇帳號開通期限*</label>
											<select name="paying_month_lender" id="checkout_country" class="dropdown_item_select checkout_input_region" onchange="show_account_total(this)">
												<option value="20000">月繳 20,000</option>
												<option value="54000">季繳 54,000</option>
												<option value="108000">年繳 108,000</option>
											</select>
										</div>
										<div id="Region_Proposal">
											<!-- Region_Proposal -->
											<label for="checkout_proposal">請選擇廣告刊登方案*</label>
											<select name="ad_type" id="region_option" class="dropdown_item_select checkout_input_region" onchange="showDiv('region', this)" required="required">
												<option value="全國性刊登">全國性刊登</option>
												<option value="地區性刊登">地區性刊登</option>
											</select>
										</div>
										<div id="region">
											<!-- Region -->
											<label for="checkout_country">請選擇地區*</label>
											<select name="ad_region" id="checkout_region" class="dropdown_item_select checkout_input_region">
												<option value="北、北、基（含宜蘭）">北、北、基（含宜蘭）</option>
												<option value="桃、竹、苗">桃、竹、苗</option>
												<option value="中、彰、投">中、彰、投</option>
												<option value="雲、嘉、南">雲、嘉、南</option>
												<option value="高雄、屏東">高雄、屏東</option>
												<option value="花蓮、台東">花蓮、台東></option>
											</select>
										</div>
										<div id="pay_region">
											<!-- Pay_Region -->
											<label for="paying_month_ad_local">請選擇廣告刊登期限*</label>
											<select name="paying_month_ad_local" id="paying_month_ad_local" class="dropdown_item_select checkout_input_region" onchange="show_region_total(this)">
												<option value="12000">月繳 12,000</option>
												<option value="30600">季繳 30,600</option>
												<option value="100800">年繳 100,800</option>
											</select>
										</div>
										<div id="pay_country">
											<!-- Pay_Country -->
											<label for="paying_month_ad_nation">請選擇廣告刊登期限*</label>
											<select name="paying_month_ad_nation" id="paying_month_ad_nation" class="dropdown_item_select checkout_input_region" onchange="show_country_total(this)">
												<option value="30000">月繳 30,000</option>
												<option value="76500">季繳 76,500</option>
												<option value="252000">年繳 252,000</option>
											</select>
										</div>
										<div>
											<!-- Pay_Total -->
											<label>總額：</label>
											<label id="pay_total">20000</label>
											<input type='hidden' name="receivable_money" value="20000"/>
										</div>
									</div>
								</div>
								
								<div class="button order_button">
									<a id="conclusion" href="javascript:concluFunction()">結帳</a>
								</div>

								<img src="{% static 'images/account.svg' %}" class="account_svg" style="width: 100%;"/><br>
								<img src="{% static 'images/region.svg' %}" class="region_svg" style="width: 100%;"/>

							</form>
						</div>
					</div>
					<div class="billing checkout_section" id="pay_after">
						<div class="section_title"></div>
						<div class="section_subtitle"></div>
						<div class="checkout_form_container">
							<form action="loan/lender_success/" id="checkout_after" class="checkout_form">
								<div>
									<div class="row">
										<div class="col-lg account_title">
											<h1><span>總額：</span>
											<span id="pay_total2">20,000</span></h1>
										</div>
									</div>
									<div style="display: none">
										<input type="text" name="total" required>
									</div>
									<div class="row">
										<div class="col-lg">
											<div class="button forgot_button">
												<a href="#" onclick="document.getElementById('checkout_form').submit()">確定方案</a>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg">
											<div class="button forgot_button">
												<a href="javascript:concluFunction_before()">返回上一頁更改方案</a>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	
	<footer id="footer" style="background-color: black;">
		<div class="footer-content">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="widget clearfix widget-categories">
							<h4 class="widget-title" style="color: white;text-rendering: optimizelegibility;"><i class="fa fa-exclamation-triangle"></i> 借款條件須知</h4>
							<div class="newsletter_border"></div>
								<ul class="list list-arrow-icons" style="color: white;">
									<li style="margin-top: 17px;">還款期限：最短 120 天，最長 10 年</li>
									<li style="margin-top: 8px;">申請費用：無手續費、無代辦費</li>
									<li style="margin-top: 8px;">年利率：2%~30%，不超過法定利率</li>
									<li style="margin-top: 8px;">年齡：須年滿20歲以上</li>
									<li style="margin-top: 8px;">職業：不限行業，無業亦可</li>
									<li style="margin-top: 8px;">地區：限台灣</li>
								</ul>
						</div>
					</div>
	
					<div class="col-md-3">
						<h4 class="widget-title" style="color: white;text-rendering: optimizelegibility;"><i class="fa fa-exclamation-triangle"></i> 借貸範例</h4>
						<div class="newsletter_border"></div>
						<p style="margin-top: 12px; color: white;">在公家機關上班超過三年，信用正常的林先生想要快速借5萬元現金，刊登借錢需求後，從多位金主提供的方案中，就利率選擇了汽車貸款方案，當日撥款5萬元，分期6個月，無須事先收取手續費及代辦費等任何費用，月利息$500，年利息$6000。</p>
					</div>

					<div class="col-md-3">
						<div class="widget clearfix widget-categories">
							<h4 class="widget-title" style="color: white; text-rendering: optimizelegibility;"><i class="fa fa-exclamation-triangle"></i> 防範貸款詐騙</h4>
							<div class="newsletter_border"></div>
							<ul class="list list-arrow-icons" style="color: white;">
								<li style="margin-top: 17px;"><i class="fa fa-exclamation"></i> 請不要給予銀行存摺及提款卡，以免成為詐騙集團的共犯。</li>
								<li style="margin-top: 8px;"><i class="fa fa-exclamation"></i> 任何類型儲值點數換現金都是詐騙。</li>
								<li style="margin-top: 8px;"><i class="fa fa-exclamation"></i> 事先給付任何名義費用都是詐騙。</li>
								<li style="margin-top: 8px;"><i class="fa fa-exclamation"></i> 請不要提供門號或手機驗證碼。</li>
							</ul>
						</div>
					</div>

					<div class="col-md-3">
						<div class="jumbotron jumbotron-small jumbotron-transparent">
							<h5 style="color: rgb(255, 255, 255);">957僅提供本借錢平台服務。<br>相關借貸廣告/需求，皆為各會員自行維護，借貸請洽各網頁資料所屬會員。</h5>
							<a href="https://line.naver.jp/ti/p/~@738obpvc" class="line_connect"><img src="{% static 'images/share-b.png' %}" style="width: 20px; height: 20px;" />  加入官方 LINE 聯絡我們</a>
						</div>
					</div>
				</div>

				<div class="newsletter_border" style="margin-top: 20px;"></div>

				<div class="row" style="margin-top: 30px;">

					<div class="col-md-4">
						<div class="footer_menu ml-lg-auto">
							<a href="/loan/privacy_policy/"><i class="fa fa-hand-paper-o"></i> 隱私權政策</a><br>
							<a href="/loan/terms/"><i class="fa fa-th-list"></i> 使用條款</a>
						</div>
					</div>

					<div class="col-md-4">
						<div class="copyright ml-auto mr-auto"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							957借錢平台版權所有 &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved <br>This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
					</div>

					<div class="col-md-4">
						<div class="footer_social ml-lg-auto">
							<ul>
								<li><a href="https://www.instagram.com/957tw/"><i class="fa fa-instagram" aria-hidden="true" style="border-radius: 10px;background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);"></i></a></li>
								<li><a href="https://www.facebook.com/957tw"><i class="fa fa-facebook" aria-hidden="true" style="color: rgb(0, 110, 255);"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true" style="color: red;"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'js/checkout.js' %}"></script>
<script>
	var pay_all = 20000;
	var reg = 0 ,reg1 = 20000;
	function showDiv(divId, element)
	{
		if (element.value=='地區性刊登')
		{
			document.getElementById(divId).style.display = 'block';
			document.getElementById('pay_region').style.display = 'block';
			document.getElementById('pay_country').style.display = 'none';
			var osel=document.getElementById("pay_region");
			var opts=osel.getElementsByTagName("option");
			opts[0].selected=true;
			if(reg!=20000)
				pay_all = 12000;
			else
				pay_all = reg1+12000;
			document.getElementById("pay_total").innerHTML = pay_all;
		}
		else{
			document.getElementById(divId).style.display = 'none';
			document.getElementById('pay_region').style.display = 'none';
			document.getElementById('pay_country').style.display = 'block';
			var osel=document.getElementById("pay_country");
			var opts=osel.getElementsByTagName("option");
			opts[0].selected=true;
			if(reg!=20000)
				pay_all = 30000;
			else
				pay_all = reg1+30000;
			document.getElementById("pay_total").innerHTML = pay_all;
		}
	}
	function show_account_total(element)
	{
		if (element.value==20000 && reg==0){
			pay_all = 20000;
		}
		else if(element.value==20000 && reg==20000 && reg1==0){
			reg1 = 20000;
			pay_all = 20000;
		}
		else if(element.value==20000 && reg==20000 && reg1!=0){
			pay_all -= reg1;
			reg1 = 20000;
			pay_all += reg1;
		}
		else if(element.value==54000 && reg==0){
			pay_all = 54000;
		}
		else if(element.value==54000 && reg==20000 && reg1==0){
			reg1 = 54000;
			pay_all = 54000;
		}
		else if(element.value==54000 && reg==20000 && reg1!=0){
			pay_all -= reg1;
			reg1 = 54000;
			pay_all += reg1;
		}
		else if(element.value==108000 && reg==0){
			pay_all = 108000;
		}
		else if(element.value==108000 && reg==20000 && reg1==0){
			reg1 = 108000;
			pay_all = 108000;
		}
		else if(element.value==108000 && reg==20000 && reg1!=0){
			pay_all -= reg1;
			reg1 = 108000;
			pay_all += reg1;
		}
		document.getElementById("pay_total").innerHTML = pay_all;
	}
	function show_region_total(element)
	{
		if (element.value==12000 && reg==0){
			pay_all = 12000;
		}
		else if(element.value==12000 && reg==20000){
			pay_all = 12000 + reg1;;
		}
		else if(element.value==30600 && reg==0){
			pay_all = 30600;
		}
		else if(element.value==30600 && reg==20000){
			pay_all = 30600 + reg1;;
		}
		else if(element.value==57600 && reg==0){
			pay_all = 57600;
		}
		else if(element.value==57600 && reg==20000){
			pay_all = 57600 + reg1;;
		}
		else if(element.value==100800 && reg==0){
			pay_all = 100800;
		}
		else if(element.value==100800 && reg==20000){
			pay_all = 100800 + reg1;;
		}
		document.getElementById("pay_total").innerHTML = pay_all;
	}
	function show_country_total(element)
	{
		if (element.value==30000  && reg==0){
			pay_all = 30000;
		}
		else if(element.value==30000 && reg==20000){
			pay_all = 30000 + reg1;
		}
		else if(element.value==76500  && reg==0){
			pay_all = 76500;
		}
		else if(element.value==76500 && reg==20000){
			pay_all = 76500 + reg1;;
		}
		else if(element.value==144000  && reg==0){
			pay_all = 144000;
		}
		else if(element.value==144000 && reg==20000){
			pay_all = 144000 + reg1;
		}
		else if(element.value==252000 && reg==0){
			pay_all = 252000;
		}
		else if(element.value==252000 && reg==20000){
			pay_all = 252000 + reg1;
		}
		document.getElementById("pay_total").innerHTML = pay_all;
	}
	function showDiv3(divId, divId2, element)
	{
		if (element.value=='購買廣告')
		{
			document.getElementById(divId).style.display = 'block';
			document.getElementById(divId2).style.display = 'block';
			document.getElementById('region').style.display = 'none';
			document.getElementById('pay_region').style.display = 'none';
			document.getElementById('pay_account_time').style.display = 'none';
			var osel=document.getElementById("Region_Proposal");
			var opts=osel.getElementsByTagName("option");
			opts[0].selected=true;
			var osel=document.getElementById("pay_country");
			var opts=osel.getElementsByTagName("option");
			opts[0].selected=true;
			reg = 0;
			pay_all = 30000;
			document.getElementById("pay_total").innerHTML = pay_all;
		}
		else if (element.value=='帳號、廣告同時買')
		{
			document.getElementById(divId).style.display = 'block';
			document.getElementById('pay_country').style.display = 'block';
			document.getElementById('region').style.display = 'none';
			document.getElementById('pay_region').style.display = 'none';
			document.getElementById('pay_account_time').style.display = 'block';
			var osel=document.getElementById("pay_account_time");
			var opts=osel.getElementsByTagName("option");
			opts[0].selected=true;
			var osel=document.getElementById("Region_Proposal");
			var opts=osel.getElementsByTagName("option");
			opts[0].selected=true;
			var osel=document.getElementById("pay_country");	//得到select的ID
			var opts=osel.getElementsByTagName("option");	//得到陣列option
			opts[0].selected=true;
			reg = 20000;
			pay_all = 50000;
			document.getElementById("pay_total").innerHTML = pay_all;
		}
		else{
			document.getElementById(divId).style.display = 'none';
			document.getElementById('pay_country').style.display = 'none';
			document.getElementById('pay_region').style.display = 'none';
			document.getElementById('region').style.display = 'none';
			document.getElementById('pay_account_time').style.display = 'block';
			var osel=document.getElementById("pay_account_time");
			var opts=osel.getElementsByTagName("option");
			opts[0].selected=true;
			reg = 0 ;
			pay_all = 20000;
			document.getElementById("pay_total").innerHTML = pay_all;
		}
		
	}
	function concluFunction()
	{
		document.getElementById('pay_before').style.display = 'none';
		document.getElementById('pay_after').style.display = 'block';
		$("#pay_total2").text(pay_all);
		var mobile_flag = isMobile();
		if(mobile_flag){
			$("html,body").animate({scrollTop:670},800);
		}
		else{
			$("html,body").animate({scrollTop:0},800);
		}
	}
	function concluFunction_before()
	{
		document.getElementById('pay_before').style.display = 'block';
		document.getElementById('pay_after').style.display = 'none';
	}
</script>
<script>
	function isMobile() {
    var userAgentInfo = navigator.userAgent;

    var mobileAgents = [ "Android", "iPhone", "SymbianOS", "Windows Phone", "iPad","iPod"];

    var mobile_flag = false;

    for (var v = 0; v < mobileAgents.length; v++) {
        if (userAgentInfo.indexOf(mobileAgents[v]) > 0) {
            mobile_flag = true;
            break;
        }
    }

     var screen_width = window.screen.width;
     var screen_height = window.screen.height;    

     if(screen_width < 500 && screen_height < 800){
         mobile_flag = true;
     }

     return mobile_flag;
}
</script>
<script>
	var mobile_flag = isMobile();
	if(mobile_flag){
		$(document).ready(function (){
		$("html,body").animate({scrollTop:670},800);
	});
	}
</script>
<script>
    function copyEvent(id)
    {
        var str = document.getElementById(id);
        window.getSelection().selectAllChildren(str);
        document.execCommand("Copy")
    }
</script>
</body>
</html>