<!DOCTYPE html>
<html lang="en">
<head>
<title>957 金主註冊</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="957 project">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
<link rel="icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
<link href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/checkout_responsive.css' %}">
</head>
<body>

<div class="super_container">

	<!-- Header -->

	<header class="header">
		<div class="header_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_content d-flex flex-row align-items-center justify-content-start">
							<div class="logo"><a href="/loan/"><img src="{% static 'images/957.png' %}" style="width: 170px; height: 50px;" /></a></div>
							<nav class="main_nav">
								<ul>
									<li><a href="/loan/">首頁</a></li>
									{% if user.is_authenticated %}
										{% if user.myuser.is_borrower %}
											<li><a href="/loan/update_borrower/">借款會員專區</a></li>
											<li><a href="/loan/create_borrower_message/">我要借錢</a></li>
											<li><a href="/loan/register_lender/">我要放款</a></li>
										{% else %}
											<li><a href="/loan/update_lender/">金主會員專區</a></li>
											<li><a href="/loan/register_borrower/">我要借錢</a></li>
											<li><a href="/loan/borrowing_message/">我要放款</a></li>
										{% endif %}
									{% else %}
										<li><a href="/loan/register_borrower/">我要借錢</a></li>
										<li><a href="/loan/register_lender/">我要放款</a></li>
									{% endif %}
									<li><a href="/loan/submit_ad/">投放廣告</a></li>
									<li><a href="/loan/borrowing_message/">借款需求版</a></li>
								</ul>
							</nav>
							<div class="header_extra ml-auto">
								{% if user.is_authenticated %}
									<div class="shopping_cart">
										<a href="/loan/logout/">
											<div>登出</div>
										</a>
									</div>
									<div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
								{% else %}
									<div class="shopping_cart">
										<a href="/loan/login/">
											<div>登入</div>
										</a>
									</div>
									<div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Social
		<div class="header_social">
			<ul>
				<li><a href="#"><img src="{% static 'images/IG_300x300.png' %}" style="width: 18px; height: 18px;" /></a></li>
				<li><a href="#"><i class="fa fa-facebook" aria-hidden="true" style="color: rgb(0, 110, 255);"></i></a></li>
				<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"  style="color: red;"></i></a></li>
			</ul>
		</div>-->

	</header>

	<!-- Menu -->

	<div class="menu menu_mm trans_500">
		<div class="menu_container menu_mm">
			<div class="page_menu_content">

				<div class="page_menu_search menu_mm">
					<form action="#">
						<input type="search" required="required" class="page_menu_search_input menu_mm" placeholder="Search for products...">
					</form>
				</div>
				<ul class="page_menu_nav menu_mm">
					<li class="page_menu_item menu_mm"><a href="/loan/">首頁<i class="fa fa-angle-down"></i></a></li>
					{% if user.is_authenticated %}
						{% if user.myuser.is_borrwer %}
							<li class="page_menu_item menu_mm"><a href="/loan/update_borrower/">借款會員專區<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="/loan/create_borrower_message/">我要借錢<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="/loan/register_lender/">我要放款<i class="fa fa-angle-down"></i></a></li>
						{% else %}
							<li class="page_menu_item menu_mm"><a href="/loan/update_lender/">金主會員專區<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="/loan/register_borrower/">我要借錢<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="/loan/borrowing_message/">我要放款<i class="fa fa-angle-down"></i></a></li>
						{% endif %}
					{% else %}
						<li class="page_menu_item menu_mm"><a href="/loan/register_borrower/">我要借錢<i class="fa fa-angle-down"></i></a></li>
						<li class="page_menu_item menu_mm"><a href="/loan/register_lender/">我要放款<i class="fa fa-angle-down"></i></a></li>
					{% endif %}
					<li class="page_menu_item menu_mm"><a href="/loan/submit_ad/">投放廣告<i class="fa fa-angle-down"></i></a></li>
					<li class="page_menu_item menu_mm"><a href="/loan/borrowing_message/">借款需求版<i class="fa fa-angle-down"></i></a></li>
				</ul>
			</div>
		</div>

		<div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>

	</div>


	<!-- Login -->

	<div class="checkout" id="check_before">
		<div class="container">
			<div class="row">
				<!-- Login Info -->
				<div class="col-lg-6">
					<div class="billing checkout_section">
						<div class="section_title">金主會員註冊</div>
						<div class="section_subtitle" style="color:red">{{message}}</div>
						<div class="checkout_form_container">
							<form action="/loan/register_lender/" id="checkout_form" class="checkout_form" method="POST">{% csrf_token %}
								<div>
									<!-- Name -->
									<label for="checkout_name" style="color: black;" id="checkout_name_id">營業名稱*</label>
									<input type="text" id="checkout_name" class="checkout_input" placeholder="請提供您的營業名稱" name="nickname" onfocus="this.placeholder=''" onblur="this.placeholder='請提供您的營業名稱'" oninput="onInput_checkout_name_id()" onchange="onChange_checkout_name_id(this.value)" required="required">
								</div>
								<div>
									<!-- Phone -->
									<label for="checkout_phone" style="color: black;" id="checkout_phone_id">電話號碼*</label>
									<input type="tel" id="checkout_phone" class="checkout_input" oninput="value=value.replace(/[^\d]/g,'');onInput_checkout_phone_id()" placeholder="請填寫台灣手機號碼" name="phone" onfocus="this.placeholder=''" onblur="this.placeholder='請填寫台灣手機號碼'" onchange="onChange_checkout_phone_id(this.value)" required>
								</div>
								<div>
									<!-- Password -->
									<label for="checkout_password" style="color: black;" id="checkout_password_id">密碼*</label>
									<input type="password" id="checkout_password" class="checkout_input" placeholder="請輸入密碼" name="password1" onfocus="this.placeholder=''" onblur="this.placeholder='請輸入密碼'" oninput="onInput_checkout_password_id()" onchange="onChange_checkout_password_id(this.value)" required="required">
								</div>
								<div>
									<!-- Password -->
									<label for="checkout_password2" style="color: black;" id="checkout_password2_id">確認密碼*</label>
									<input type="password" id="checkout_password2" class="checkout_input" placeholder="請再一次輸入密碼" name="password2" onfocus="this.placeholder=''" onblur="this.placeholder='請再一次輸入密碼'" oninput="onInput_checkout_password2_id()" onchange="onChange_checkout_password2_id(this.value)" required="required">
								</div>
								<div>
									<!-- LineID -->
									<label for="checkout_line" style="color: black;">LINE ID</label>
									<input type="text" id="checkout_line" class="checkout_input" placeholder="請提供您的LINE ID" name="line_id" onfocus="this.placeholder=''" onblur="this.placeholder='請提供您的LINE ID'">
								</div>
								<div>
									<!-- Highest -->
									<label for="checkout_highest_lending" style="color: black;" id="checkout_highest_lending_id">最高可放貸金額*</label>
									<input type="tel" id="checkout_highest_lending" class="checkout_input" oninput="value=value.replace(/[^\d]/g,'');onInput_checkout_highest_lending_id()" placeholder="請輸入純數字，例如：50000" name="highest_lending" onfocus="this.placeholder=''" onblur="this.placeholder='請輸入純數字，例如：50000'" onchange="onChange_checkout_highest_lending_id(this.value)" required="required">
								</div>
								<div>
									<!-- Address -->
									<label for="checkout_region" style="color: black;">營業總部所在地</label>
									<select name="region" id="checkout_region" class="dropdown_item_select checkout_input_region" onchange="showDiv2('pay_region','pay_country', this)">
										<option value="北、北、基（含宜蘭）">北、北、基（含宜蘭）</option>
										<option value="桃、竹、苗">桃、竹、苗</option>
										<option value="中、彰、投">中、彰、投</option>
										<option value="雲、嘉、南">雲、嘉、南</option>
										<option value="高雄、屏東">高雄、屏東</option>
										<option value="花蓮、台東">花蓮、台東</option>
									</select>
								</div>
								<div>
									<!-- Lender_Way -->
									<label style="color: black;">主要可接受抵押品</label><br>
									<select name="lending_way" id="checkout_country" class="dropdown_item_select checkout_input_region" onchange="showDiv2('pay_region','pay_country', this)">
										<option value="本票">本票</option>
										<option value="機車">機車</option>
										<option value="汽車">汽車</option>
										<option value="電話諮詢">電話諮詢</option>
									</select>
								</div>
								<div>
									<!-- Title -->
									<label for="checkout_title" style="color: black;" id="checkout_title_id">放款文案標題*</label>
									<input type="text" id="checkout_title" class="checkout_input" placeholder="最多100字" name="lending_title" onfocus="this.placeholder=''" onblur="this.placeholder='最多100字'" oninput="onInput_checkout_title_id()" onchange="onChange_checkout_title_id(this.value)" required="required">
								</div>
								<div>
									<!-- Highest -->
									<label for="checkout_content" style="color: black;" id="checkout_content_id">放款文案內容*</label>
									<textarea id="checkout_content" class="input_textarea" rows="4" cols="50" placeholder="最多300字" name="lending_content" onfocus="this.placeholder=''" onblur="this.placeholder='最多300字'" oninput="onInput_checkout_content_id()" onchange="onChange_checkout_content_id(this.value)" required="required"></textarea>
								</div>
								<div>
									<!-- Agree -->
									<div class="row">
										<div class="col">
											<label style="color: black; font-size: 17px;"><input type="checkbox" style="margin-top: 32%;" name="base" value="base" checked> 我已閱讀並同意</label>
											<a href="/loan/terms/" style="font-size: 17px;">使用條款</a>
											<label style="color: black; font-size: 17px;">和</label>
											<a href="/loan/privacy_policy/" style="font-size: 17px;">隱私權政策</a>
										</div>
									</div>
								</div>
								<div class="button order_button" style="margin-top: 1px;">
									<a href="#" onclick="document.getElementById('checkout_form').submit()">註冊</a>
								</div>
							</form>
						</div>
					</div>
				</div>

				<!-- Register Info -->

				<div class="col-lg-6"><!-- class="col-lg-6" -->
					<div class="order checkout_section">
						<div class="section_title" style="margin-top: 24px;">我是借款人，不是金主</div>
						<div class="section_subtitle"> </div>

						<!-- Register Button -->
						<div class="row">
							<div class="col-lg-12"><div class="button register_button_B"><a href="/loan/register_borrower/">借款註冊</a></div></div>
						</div>

						<div class="section_title">已有帳號</div>
						<div class="section_subtitle"> </div>

						<!-- Register Button -->
						<div class="row">
							<div class="col-lg-12"><div class="button register_button_L"><a href="/loan/login/">登入</a></div></div>
						</div>
					</div>
					<div class="billing checkout_section">
						<div class="section_title">成為金主的好處</div>
						<div class="section_subtitle">
							成為金主後您可以發布放款文案，可於借款需求版上找尋可放款對象。<br>
							若您加值成為VIP金主會員，更可於首頁上刊登廣告並透過LINE取得最新借款需求。
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->

	<footer id="footer" style="background-color: black;">
		<div class="footer-content">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="widget clearfix widget-categories">
							<h4 class="widget-title" style="color: white;text-rendering: optimizelegibility;"><i class="fa fa-exclamation-triangle"></i> 借款條件須知</h4>
							<div class="newsletter_border"></div>
								<ul class="list list-arrow-icons" style="color: white;">
									<li style="margin-top: 17px;">還款期限：最短 120 天，最長 10 年</li>
									<li style="margin-top: 8px;">申請費用：無手續費、無代辦費</li>
									<li style="margin-top: 8px;">年利率：2%~30%，不超過法定利率</li>
									<li style="margin-top: 8px;">年齡：須年滿20歲以上</li>
									<li style="margin-top: 8px;">職業：不限行業，無業亦可</li>
									<li style="margin-top: 8px;">地區：限台灣</li>
								</ul>
						</div>
					</div>

					<div class="col-md-3">
						<h4 class="widget-title" style="color: white;text-rendering: optimizelegibility;"><i class="fa fa-exclamation-triangle"></i> 借貸範例</h4>
						<div class="newsletter_border"></div>
						<p style="margin-top: 12px; color: white;">在公家機關上班超過三年，信用正常的林先生想要快速借5萬元現金，刊登借錢需求後，從多位金主提供的方案中，就利率選擇了汽車貸款方案，當日撥款5萬元，分期6個月，無須事先收取手續費及代辦費等任何費用，月利息$500，年利息$6000。</p>
					</div>

					<div class="col-md-3">
						<div class="widget clearfix widget-categories">
							<h4 class="widget-title" style="color: white; text-rendering: optimizelegibility;"><i class="fa fa-exclamation-triangle"></i> 防範貸款詐騙</h4>
							<div class="newsletter_border"></div>
							<ul class="list list-arrow-icons" style="color: white;">
								<li style="margin-top: 17px;"><i class="fa fa-exclamation"></i> 請不要給予銀行存摺及提款卡，以免成為詐騙集團的共犯。</li>
								<li style="margin-top: 8px;"><i class="fa fa-exclamation"></i> 任何類型儲值點數換現金都是詐騙。</li>
								<li style="margin-top: 8px;"><i class="fa fa-exclamation"></i> 事先給付任何名義費用都是詐騙。</li>
								<li style="margin-top: 8px;"><i class="fa fa-exclamation"></i> 請不要提供門號或手機驗證碼。</li>
							</ul>
						</div>
					</div>

					<div class="col-md-3">
						<div class="jumbotron jumbotron-small jumbotron-transparent">
							<h5 style="color: rgb(255, 255, 255);">957僅提供本借貸平台服務。<br>相關借貸廣告/需求，皆為各會員自行維護，借貸請洽各網頁資料所屬會員。</h5>
							<a href="https://line.naver.jp/ti/p/~@738obpvc" class="line_connect"><img src="{% static 'images/share-b.png' %}" style="width: 20px; height: 20px;" />  加入官方 Line 聯絡我們</a>
						</div>
					</div>
				</div>

				<div class="newsletter_border" style="margin-top: 20px;"></div>

				<div class="row" style="margin-top: 30px;">

					<div class="col-md-4">
						<div class="footer_menu ml-lg-auto">
							<a href="/loan/privacy_policy/"><i class="fa fa-hand-paper-o"></i> 隱私權政策</a><br>
							<a href="/loan/terms/"><i class="fa fa-th-list"></i> 使用條款</a>
						</div>
					</div>

					<div class="col-md-4">
						<div class="copyright ml-auto mr-auto"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							957借貸平台版權所有 &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved <br>This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
					</div>

					<div class="col-md-4">
						<div class="footer_social ml-lg-auto">
							<ul>
								<li><a href="https://www.instagram.com/957tw/"><i class="fa fa-instagram" aria-hidden="true" style="border-radius: 10px;background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);"></i></a></li>
								<li><a href="https://www.facebook.com/957tw"><i class="fa fa-facebook" aria-hidden="true" style="color: rgb(0, 110, 255);"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true" style="color: red;"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'js/checkout.js' %}"></script>
<script>
	function onInput_checkout_name_id() {
    	document.getElementById('checkout_name_id').innerHTML = '營業名稱';
    }
    function onChange_checkout_name_id(val) {
    	if (val == '')
    	{
    		document.getElementById('checkout_name_id').innerHTML = '營業名稱*';
    	}
    	else{
    		document.getElementById('checkout_name_id').innerHTML = '營業名稱';
    	}
	}
    function onInput_checkout_phone_id() {
    	document.getElementById('checkout_phone_id').innerHTML = '電話號碼';
    }
    function onChange_checkout_phone_id(val) {
    	if (val == '')
    	{
    		document.getElementById('checkout_phone_id').innerHTML = '電話號碼*';
    	}
    	else{
    		document.getElementById('checkout_phone_id').innerHTML = '電話號碼';
    	}
	}
	function onInput_checkout_password_id() {
    	document.getElementById('checkout_password_id').innerHTML = '密碼';
    }
    function onChange_checkout_password_id(val) {
    	if (val == '')
    	{
    		document.getElementById('checkout_password_id').innerHTML = '密碼*';
    	}
    	else{
    		document.getElementById('checkout_password_id').innerHTML = '密碼';
    	}
	}
	function onInput_checkout_password2_id() {
    	document.getElementById('checkout_password2_id').innerHTML = '確認密碼';
    }
    function onChange_checkout_password2_id(val) {
    	if (val == '')
    	{
    		document.getElementById('checkout_password2_id').innerHTML = '確認密碼*';
    	}
    	else{
    		document.getElementById('checkout_password2_id').innerHTML = '確認密碼';
    	}
	}
	function onInput_checkout_highest_lending_id() {
    	document.getElementById('checkout_highest_lending_id').innerHTML = '最高可放貸金額';
    }
    function onChange_checkout_highest_lending_id(val) {
    	if (val == '')
    	{
    		document.getElementById('checkout_highest_lending_id').innerHTML = '最高可放貸金額*';
    	}
    	else{
    		document.getElementById('checkout_highest_lending_id').innerHTML = '最高可放貸金額';
    	}
	}
	function onInput_checkout_title_id() {
    	document.getElementById('checkout_title_id').innerHTML = '放款文案標題';
    }
    function onChange_checkout_title_id(val) {
    	if (val == '')
    	{
    		document.getElementById('checkout_title_id').innerHTML = '放款文案標題*';
    	}
    	else{
    		document.getElementById('checkout_title_id').innerHTML = '放款文案標題';
    	}
	}
	function onInput_checkout_content_id() {
    	document.getElementById('checkout_content_id').innerHTML = '放款文案內容';
    }
    function onChange_checkout_content_id(val) {
    	if (val == '')
    	{
    		document.getElementById('checkout_content_id').innerHTML = '放款文案內容*';
    	}
    	else{
    		document.getElementById('checkout_content_id').innerHTML = '放款文案內容';
    	}
	}
</script>
</body>
</html>