<!DOCTYPE html>
<html lang="en">
<head>
<title>957 會員驗證</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="957 project">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
<link rel="icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
<link href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/checkout_responsive.css' %}">
</head>
<body>

<div class="super_container">

	<!-- Header -->

	<header class="header">
		<div class="header_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_content d-flex flex-row align-items-center justify-content-start">
							<div class="logo"><a href="/loan/"><img src="{% static 'images/957.png' %}" style="width: 170px; height: 50px;" /></a></div>
							<nav class="main_nav">
								<ul>
									<li><a href="/loan/">首頁</a></li>
									{% if user.is_authenticated %}
										{% if user.myuser.is_borrower %}
											<li><a href="/loan/update_borrower/">借款會員專區</a></li>
											<li><a href="/loan/create_borrower_message/">我要借錢</a></li>
											<li><a href="/loan/register_lender/">我要放款</a></li>
										{% else %}
											<li><a href="/loan/update_lender/">金主會員專區</a></li>
											<li><a href="/loan/register_borrower/">我要借錢</a></li>
											<li><a href="/loan/borrowing_message/">我要放款</a></li>
										{% endif %}
									{% else %}
										<li><a href="/loan/register_borrower/">我要借錢</a></li>
										<li><a href="/loan/register_lender/">我要放款</a></li>
									{% endif %}
									<li><a href="/loan/submit_ad/">投放廣告</a></li>
									<li><a href="/loan/borrowing_message/">借款需求版</a></li>
								</ul>
							</nav>
							<div class="header_extra ml-auto">
								{% if user.is_authenticated %}
									<div class="shopping_cart">
										<a href="/loan/logout/">
											<div>登出</div>
										</a>
									</div>
									<div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
								{% else %}
									<div class="shopping_cart">
										<a href="/loan/login/">
											<div>登入</div>
										</a>
									</div>
									<div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Social
		<div class="header_social">
			<ul>
				<li><a href="#"><img src="{% static 'images/IG_300x300.png' %}" style="width: 18px; height: 18px;" /></a></li>
				<li><a href="#"><i class="fa fa-facebook" aria-hidden="true" style="color: rgb(0, 110, 255);"></i></a></li>
				<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"  style="color: red;"></i></a></li>
			</ul>
		</div>-->

	</header>

	<!-- Menu -->

	<div class="menu menu_mm trans_500">
		<div class="menu_container menu_mm">
			<div class="page_menu_content">
							
				<div class="page_menu_search menu_mm">
					<form action="#">
						<input type="search" required="required" class="page_menu_search_input menu_mm" placeholder="Search for products...">
					</form>
				</div>
				<ul class="page_menu_nav menu_mm">
					<li class="page_menu_item menu_mm"><a href="/loan/">首頁<i class="fa fa-angle-down"></i></a></li>
					{% if user.is_authenticated %}
						{% if user.myuser.is_borrower %}
							<li class="page_menu_item menu_mm"><a href="/loan/update_borrower/">借款會員專區<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="/loan/create_borrower_message/">我要借錢<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="/loan/register_lender/">我要放款<i class="fa fa-angle-down"></i></a></li>
						{% else %}
							<li class="page_menu_item menu_mm"><a href="/loan/update_lender/">金主會員專區<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="/loan/register_borrower/">我要借錢<i class="fa fa-angle-down"></i></a></li>
							<li class="page_menu_item menu_mm"><a href="/loan/borrowing_message/">我要放款<i class="fa fa-angle-down"></i></a></li>
						{% endif %}
					{% else %}
						<li class="page_menu_item menu_mm"><a href="/loan/register_borrower/">我要借錢<i class="fa fa-angle-down"></i></a></li>
						<li class="page_menu_item menu_mm"><a href="/loan/register_lender/">我要放款<i class="fa fa-angle-down"></i></a></li>
					{% endif %}
					<li class="page_menu_item menu_mm"><a href="/loan/submit_ad/">投放廣告<i class="fa fa-angle-down"></i></a></li>
					<li class="page_menu_item menu_mm"><a href="/loan/borrowing_message/">借款需求版<i class="fa fa-angle-down"></i></a></li>
				</ul>
			</div>
		</div>

		<div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>

	</div>

	<div class="checkout phone_check" id="check_after" style="display: block;">
		<div class="container">
			<div class="row">
				<!-- Login Info -->
				<div class="col-lg">
					<div class="billing checkout_section">
						<div class="section_title">手機號碼驗證</div>
						<div class="section_subtitle" style="color:red">{{message}}</div>
						<div class="checkout_form_container">
							<form action="/loan/verify/" id="checkout_form" class="checkout_form" method="POST">{% csrf_token %}
								<div>
									<!-- Verify -->
									<label for="code_check">驗證碼</label>
									<input type="text" id="code_check" class="checkout_input" required="required" name="checking_code">
								</div>
								<div class="row">
									<div class="col-lg">
										<div class="button forgot_button">
											<a href="#" id="Button1" onclick="document.getElementById('checkout_form').submit()">確定</a>
										</div>
									</div>
								</div>
								<!--<span class="code" id="checkCode"></span>
								<span id="text_show"></span>-->
							</form>
							<form action="/loan/verify/" id="checkout_resend" class="checkout_form" method="POST">{% csrf_token %}
								<div class="row">
									<div class="col-lg" id="wait_before">
										<div class="button forgot_button">
											<a href="#" id="Button2" onclick="document.getElementById('checkout_resend').submit()">重發驗證碼</a>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Footer -->
	
	<footer id="footer" style="background-color: black;">
		<div class="footer-content">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="widget clearfix widget-categories">
							<h4 class="widget-title" style="color: white;text-rendering: optimizelegibility;"><i class="fa fa-exclamation-triangle"></i> 借款條件須知</h4>
							<div class="newsletter_border"></div>
								<ul class="list list-arrow-icons" style="color: white;">
									<li style="margin-top: 17px;">還款期限：最短 120 天，最長 10 年</li>
									<li style="margin-top: 8px;">申請費用：無手續費、無代辦費</li>
									<li style="margin-top: 8px;">年利率：2%~30%，不超過法定利率</li>
									<li style="margin-top: 8px;">年齡：須年滿20歲以上</li>
									<li style="margin-top: 8px;">職業：不限行業，無業亦可</li>
									<li style="margin-top: 8px;">地區：限台灣</li>
								</ul>
						</div>
					</div>
	
					<div class="col-md-3">
						<h4 class="widget-title" style="color: white;text-rendering: optimizelegibility;"><i class="fa fa-exclamation-triangle"></i> 借貸範例</h4>
						<div class="newsletter_border"></div>
						<p style="margin-top: 12px; color: white;">在公家機關上班超過三年，信用正常的林先生想要快速借5萬元現金，刊登借錢需求後，從多位金主提供的方案中，就利率選擇了汽車貸款方案，當日撥款5萬元，分期6個月，無須事先收取手續費及代辦費等任何費用，月利息$500，年利息$6000。</p>
					</div>

					<div class="col-md-3">
						<div class="widget clearfix widget-categories">
							<h4 class="widget-title" style="color: white; text-rendering: optimizelegibility;"><i class="fa fa-exclamation-triangle"></i> 防範貸款詐騙</h4>
							<div class="newsletter_border"></div>
							<ul class="list list-arrow-icons" style="color: white;">
								<li style="margin-top: 17px;"><i class="fa fa-exclamation"></i> 請不要給予銀行存摺及提款卡，以免成為詐騙集團的共犯。</li>
								<li style="margin-top: 8px;"><i class="fa fa-exclamation"></i> 任何類型儲值點數換現金都是詐騙。</li>
								<li style="margin-top: 8px;"><i class="fa fa-exclamation"></i> 事先給付任何名義費用都是詐騙。</li>
								<li style="margin-top: 8px;"><i class="fa fa-exclamation"></i> 請不要提供門號或手機驗證碼。</li>
							</ul>
						</div>
					</div>

					<div class="col-md-3">
						<div class="jumbotron jumbotron-small jumbotron-transparent">
							<h5 style="color: rgb(255, 255, 255);">957僅提供本借貸平台服務。<br>相關借貸廣告/需求，皆為各會員自行維護，借貸請洽各網頁資料所屬會員。</h5>
							<a href="https://line.naver.jp/ti/p/~@738obpvc" class="line_connect"><img src="{% static 'images/share-b.png' %}" style="width: 20px; height: 20px;" />  加入官方 Line 聯絡我們</a>
						</div>
					</div>
				</div>

				<div class="newsletter_border" style="margin-top: 20px;"></div>

				<div class="row" style="margin-top: 30px;">

					<div class="col-md-4">
						<div class="footer_menu ml-lg-auto">
							<a href="/loan/privacy_policy/"><i class="fa fa-hand-paper-o"></i> 隱私權政策</a><br>
							<a href="/loan/terms/"><i class="fa fa-th-list"></i> 使用條款</a>
						</div>
					</div>

					<div class="col-md-4">
						<div class="copyright ml-auto mr-auto"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							957借貸平台版權所有 &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved <br>This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
					</div>

					<div class="col-md-4">
						<div class="footer_social ml-lg-auto">
							<ul>
								<li><a href="https://www.instagram.com/957tw/"><i class="fa fa-instagram" aria-hidden="true" style="border-radius: 10px;background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);"></i></a></li>
								<li><a href="https://www.facebook.com/957tw"><i class="fa fa-facebook" aria-hidden="true" style="color: rgb(0, 110, 255);"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true" style="color: red;"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'js/checkout.js' %}"></script>
<!--
<script>
	var code;
	function createCode() {
	  code = "";
	  var codeLength = 6; //驗證碼的長度
	  var checkCode = document.getElementById("checkCode");
	  var codeChars = new Array(0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
		   'a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z',
		   'A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z');
	  for (var index = 0; index < codeLength; index++) {
		var charNum = Math.floor(Math.random() * 52);
		code += codeChars[charNum];
	  }
	  if (checkCode) {
		checkCode.className = "code";
		checkCode.innerHTML = code;
	  }
	}
	function validateCode() {
	  var inputCode = document.getElementById("code_check").value;
	  var textShow = document.getElementById("text_show")
	  if (inputCode.length <= 0) {
		textShow.innerHTML = "請輸入驗證碼";
		textShow.style.color = "red";
	  } else if (inputCode.toUpperCase() != code.toUpperCase()) {
		textShow.innerHTML = "您輸入的驗證碼有誤";
		textShow.style.color = "red";
	  } else {
		textShow.innerHTML = "驗證碼正確";
		textShow.style.color = "green";
		window.location.href = 'index.html';
	  }
	}
	function checkCode(){
		var btn = document.getElementById("Button1");
		btn.onclick=function(){
		validateCode();
	  }
	}
	window.onload = function () {
	  	checkCode();
	  	document.getElementById("createcode").onclick = function () 
	  	{ 
			createCode(); 
			var c = document.getElementById("waiting_button");
			time(c); 
		}
	}
	function concluFunction()
	{
		document.getElementById('check_before').style.display = 'none';
		document.getElementById('check_after').style.display = 'block';
		$("html,body").animate({scrollTop:0},800);
	}
	var waitTime = 60;
	function time(ele) {
        if (waitTime == 0) {
            ele.disabled=false;
            document.getElementById('wait_before').style.display = 'block';
			document.getElementById('wait_after').style.display = 'none';
            waitTime = 60;
        } else {
            ele.disabled=true;
            ele.innerHTML = waitTime + "秒後可以重新發送";
            waitTime--;
            setTimeout(function() {
                time(ele)
            }, 1000)
        }
	}
	function wait_check()
	{
		document.getElementById('wait_before').style.display = 'none';
		document.getElementById('wait_after').style.display = 'block';
	}
</script>
-->
</body>
</html>